@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: url('roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 400;
  src: url('roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Lignt';
  font-style: normal;
  font-weight: 400;
  src: url('roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 400;
  src: url('roboto/Roboto-Thin.ttf') format('truetype');
}